@use 'root';

html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', Courier;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--shadow-color-01);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--black-02);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black-01);
}
